<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppReceitas">

        <!-- Tela de Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela Inicial de Lista de Receitas -->
        <activity
            android:name=".RecipeListActivity"
            android:exported="true" />

        <!-- Tela de Pesquisa de Receitas -->
        <activity
            android:name=".SearchRecipeActivity"
            android:exported="true" />

        <!-- Tela de Detalhes da Receita -->
        <activity
            android:name=".RecipeDetailActivity"
            android:exported="true" />

    </application>
</manifest>
